# Dependencias
node_modules/

# Variables de entorno (contiene contrasenas)
.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Archivos temporales
*.tmp
*.temp

# Carpetas de build
dist/
build/

# Archivos viejos
_archivos_viejos/
